page-rcv-check {
    ion-item{
        overflow: visible;
        ion-note{
            width:180px; 
            display:block;
            overflow: hidden;
            color: black !important;
        }
        ion-label{
            color: #BDC3C7 !important;
        }
        .scroll-content {
            height: 100%
          }
          ion-icon {
            font-size: 50px;
          }
          ion-row {
            height: 100%;
            flex-wrap: wrap;
          }
          ion-col {
            flex: 0 0 25%;
            max-width: 25%;
            text-align: center;
            padding: 10px 5px;
          }
     }
}
