<!--
质检模块导航
-->
<ion-header>

  <ion-navbar>
      <button ion-button [menuToggle]="activeMenu">
          <ion-icon name="menu"></ion-icon>
      </button>    
      <ion-buttons start>
          <button ion-button solid title="退出登录" icon-only (click)="rootnavtool.doLogout()">
              <ion-icon name="log-out"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title>质量检验</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id={{ModuleInfo.ModuleID}} style="overflow:auto;">
        <img id="photo-fullscreen" src="assets/imgs/Factory.jpg" style="width:100%">
        <ion-card id="{{ModuleInfo.ModuleID}}-card" >
            <ion-card-header>
                <ion-icon name={{ModuleInfo.IconName}} item-left=""></ion-icon>
                {{ModuleInfo.ModuleName}}
            </ion-card-header>
            <ion-grid style="align-content:left">
              <ion-row *ngFor="let row of GetRowCount()">
                  <ng-container *ngFor="let funcinfo of ModuleInfo.SubFuncs">
                      <ion-col *ngIf="((row-1)*3<funcinfo.FuncIdx)&&((row*3)>=funcinfo.FuncIdx)" >
                          <div class="carddiv" (click)="rootnavtool.NavToTargetFunc(funcinfo)">
                              <ion-icon name={{funcinfo.IconName}} is-active="true" ><br><br>{{funcinfo.FuncName}}</ion-icon>
                          </div>
                        </ion-col>
                  </ng-container>
              </ion-row>
            </ion-grid>
        </ion-card>
        <ion-footer>
            <ion-toolbar>
                <p>{{contextdata.GetLoginContext().OrgCode}}-{{contextdata.GetLoginContext().OrgName}}</p>
            </ion-toolbar>
        </ion-footer>
    </ion-content>