page-mfg-module {
    ion-col div {
        background-color: #ABC327;
        border: 1px solid #e6e9ee;
        border-radius: 2px;
        padding: 5px;
        text-align: center;
        font-size: 13px;
      }

    ion-col div:hover{
        background-color: #DB9E25;
        border: 1px solid #e6e9ee;
        border-radius: 2px;
        padding: 5px;
        text-align: center;
        cursor:pointer;
        font-size: 13px;
    }
    ion-col div:active{
      background-color: #DB9E25;
      border: 1px solid #e6e9ee;
      border-radius: 2px;
      padding: 5px;
      text-align: center;
      cursor:pointer;
      font-size: 13px;
  }
   
      p {
        padding: 10px 0 0 10px !important;
        margin: 0;
      }
}
